{% load static %}
<script>
    $(function(){
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui){ //item selected
                AutoCompleteSelectHandler(event, ui)
            },
        minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui){
        var selectedObj = ui.item;
    }
</script>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="home_slider_form_container">
                <form action="/search/" method="POST" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        {% csrf_token %}
                        <input type="text" name="query" id="query" class="home_search_input" required="required" placeholder="Keyword Search">
                        {% load mptt_tags %}
                        <select name="catid" id="catid" class="dropdown_item_select home_search_input">
                            <option value="0">All Categories</option>
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <option value="{{ node.id }}">{{ node.title }}</option>
                                {% endif %}
                                {% if not node.is_leaf_node  %}
                                    <optgroup label="{{ node.title }}">{{ children }}</optgroup>
                                {% endif %}
                            {% endrecursetree %}
                        </select>
                    </div>
                    <button class="home_search_button">search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h1 class="section_title">{{ setting.company }}'ye <br>Hoş Geldiniz</h1>
                    <div class="section_subtitle"><p>{{ setting.description }}</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/courses_background.jpg' %}" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Popüler Notlar</h2>
                    <div class="section_subtitle"><p>Son dönemde en sık erişilen notlar.</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            {% for rs in randomnotes %}
            <!-- Course -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="{{ rs.image.url }}" height="439px" width="690" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h3>
                        <div class="course_teacher" style="height: 40px"><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}">{{ rs.category}}</a></div>
                        <div class="course_text" style="height: 50px">
                            <p>{{ rs.description }}</p>
                        </div>
                    </div>
                    <div class="course_footer">
                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                            <div class="course_info">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <span>20 Student</span>
                            </div>
                            <div class="course_price ml-auto">Free</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="/dersler">Tüm Kursları Gör</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Events -->

<div class="events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">En Son Eklenenler</h2>
                    <div class="section_subtitle"><p>Yakın zamanda eklenmiş notlar.</p></div>
                </div>
            </div>
        </div>
        <div class="row events_row">
            {% for rs in lastnotes %}
            <!-- Event -->
            <div class="col-lg-4 event_col">
                <div class="event event_left">
                    <div class="event_image"><img src="{{ rs.image.url }}" height="439px" width="690" alt=""></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start">
                        <div class="event_date">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                                <div class="event_day trans_200" style="font-size: 20px; line-height: 20px; text-align: center">{{ rs.created_at.date }}</div>
                            </div>
                        </div>
                        <div class="event_content">
                            <div class="event_title"><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></div>
                            <div class="event_info_container">
                                <div class="event_text">
                                    <p>{{ rs.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="/dersler">Tüm Kursları Gör</a></div>
            </div>
        </div>
    </div>
</div>

