{% extends "homebase.html" %}

{% block title %} Dersler {% endblock %}
{% block keywords %} a {% endblock %}
{% block description %} a {% endblock %}
{% load static %}
<script>
    $(function(){
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui){ //item selected
                AutoCompleteSelectHandler(event, ui)
            },
        minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui){
        var selectedObj = ui.item;
    }
</script>
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses_responsive.css' %}">
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Anasayfa</a></li>
								<li>Dersler</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">
				<!-- Courses Main Content -->
				<div class="col-lg-8">
					<div class="courses_search_container">
						<form action="/search/" method="POST" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
							{% csrf_token %}
                            <input type="text" name="query" id="query" class="courses_search_input" placeholder="Search Courses">
							{% load mptt_tags %}
                            <select name="catid" id="catid" class="courses_search_select courses_search_input">
								<option value="0">All Categories</option>
                                    {% recursetree category %}
                                        {% if node.is_leaf_node %}
                                            <option value="{{ node.id }}">{{ node.title }}</option>
                                        {% endif %}
                                        {% if not node.is_leaf_node  %}
                                            <optgroup label="{{ node.title }}">{{ children }}</optgroup>
                                        {% endif %}
                                    {% endrecursetree %}
							</select>
							<button class="courses_search_button ml-auto">search now</button>
						</form>
					</div>
					<div class="courses_container">
						<div class="row courses_row">
                            {% for rs in notes %}
							    <!-- Course -->
                                <div class="col-lg-6 course_col">
                                    <div class="course">
                                        <div class="course_image"><img src="{{ rs.image.url }}" height="439px" width="690" alt=""></div>
                                        <div class="course_body">
                                            <h3 class="course_title"><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h3>
                                            <div class="course_teacher"><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}">{{ rs.category}}</a></div>
                                            <div class="course_text">
                                                <p>{{ rs.description }}</p>
                                            </div>
                                        </div>
                                        <div class="course_footer">
                                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                                <div class="course_info">
                                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                    <span>20 Student</span>
                                                </div>
                                                <div class="course_price ml-auto">Free</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
						</div>
						<div class="row pagination_row">
							<div class="col">
								<div class="pagination_container d-flex flex-row align-items-center justify-content-start">
									<ul class="pagination_list">
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
									</ul>
									<div class="courses_show_container ml-auto clearfix">
										<div class="courses_show_text">Showing <span class="courses_showing">1-6</span> of <span class="courses_total">26</span> results:</div>
										<div class="courses_show_content">
											<span>Show: </span>
											<select id="courses_show_select" class="courses_show_select">
												<option>06</option>
												<option>12</option>
												<option>24</option>
												<option>36</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Courses Sidebar -->
				<div class="col-lg-4">
					<div class="sidebar">

						<!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Categories</div>
							<div class="sidebar_categories">
                                {% load mptt_tags %}
                                <ul>
                                    {% recursetree category %}
                                        <li>
                                            <b>{{ node.title }}</b>
                                        </li>
                                        {% if not node.is_leaf_node  %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/newsletter.jpg'%}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

						<!-- Newsletter Content -->
						<div class="newsletter_content text-lg-left text-center">
							<div class="newsletter_title">sign up for news and offers</div>
							<div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
						</div>

						<!-- Newsletter Form -->
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
								<input type="email" class="newsletter_input" placeholder="Your Email" required="required">
								<button type="submit" class="newsletter_button">subscribe</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'js/courses.js' %}"></script>
{% endblock %}