{% load static %}
<!--
{% block head %}
	<link type="text/css" rel="stylesheet" href="{% static 'second/css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'second/css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'second/css/slick-theme.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'second/css/nouislider.min.css' %}" />
	<link rel="stylesheet" href="{% static 'second/css/font-awesome.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'second/css/style.css' %}" />
{% endblock %}
-->
<script>
    $(function(){
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui){ //item selected
                AutoCompleteSelectHandler(event, ui)
            },
        minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui){
        var selectedObj = ui.item;
    }
</script>


<!-- Header -->
<header class="header">
    <!-- Top Bar -->
    <div class="top_bar">
        <div class="top_bar_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                            <ul class="top_bar_contact_list">
                                <li><div class="question">Have any questions?</div></li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <div>{{ setting.phone }}</div>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <div>{{ setting.email }}</div>
                                </li>
                            </ul>
                            <div class="top_bar_login ml-auto">
                                {% if user.id is None %}
                                    <div class="login_button d-flex align-items-center justify-content-center">
                                        <a href="/register/" style="padding-right: 2px">Register</a>
                                        <h5 style="padding-right: 2px">/</h5>
                                        <a href="/login/">Login</a>
                                    </div>
                                {% else %}
                                    <div class="login_button d-flex align-items-center justify-content-center" role="button">
                                        <a href="#">
                                            <div class="header-btns-icon d-flex align-items-center justify-content-center">
                                                <i class="fa fa-user-o" style="padding-right: 2px"></i>
                                                <a href="/user"><strong>{{ user.first_name }}</strong></a>
                                                <a href="/logout/">/Logout</a>
                                            </div>
                                       </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Content -->
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <a href="/">
                                <div class="logo_text">Unic<span>at</span></div>
                            </a>
                        </div>
                        <nav class="main_nav_contaner ml-auto">
                            <ul class="main_nav">
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/dersler">Dersler</a></li>
                                <li><a href="/hakkimizda">Hakkımızda</a></li>
                                <li><a href="/referanslar">Referanslar</a></li>
                                <li><a href="/iletisim">İletişim</a></li>
                                <li><a href="/sss">SSS</a></li>
                            </ul>
                            <div class="search_button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                            <!-- Hamburger -->

                            <div class="hamburger menu_mm">
                                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Header Search Panel -->
    <div class="header_search_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
                        <form action="/search/" method="POST" class="header_search_form">
                            {% csrf_token %}
                            <input type="text" name="query" id="query" class="search_input" placeholder="Search" required="required">
                            <input type="hidden" name="catid" id="catid" value="0" class="search_input" placeholder="Search">
                            <button type="submit" class="header_search_button d-flex flex-column align-items-center justify-content-center">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Menu -->

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
    <div class="search">
        <form action="/search/" method="POST" class="header_search_form menu_mm">
            {% csrf_token %}
            <input type="text" name="query" id="query" class="search_input menu_mm" placeholder="Search">
            <input type="hidden" name="catid" id="catid" value="0" class="search_input" placeholder="Search">
            <button type="submit" class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                <i class="fa fa-search menu_mm" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav class="menu_nav">
        <ul class="menu_mm">
            <li class="menu_mm"><a href="/">Anasayfa</a></li>
            <li class="menu_mm"><a href="/dersler">Dersler</a></li>
            <li class="menu_mm"><a href="/hakkimizda">Hakkımızda</a></li>
            <li class="menu_mm"><a href="/referanslar">Referanslar</a></li>
            <li class="menu_mm"><a href="/iletisim">İletişim</a></li>
            <li class="menu_mm"><a href="/sss">SSS</a></li>
        </ul>
    </nav>
</div>

<!--
{% block js %}
    <script src="{% static 'second/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'second/js/slick.min.js' %}"></script>
    <script src="{% static 'second/js/nouislider.min.js' %}"></script>
    <script src="{% static 'second/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'second/js/main.js' %}"></script>
{% endblock %}
-->