{% extends "homebase.html" %}

{% block title %} {{ note.title }} {% endblock %}
{% block keywords %} {{ note.keywords }} {% endblock %}
{% block description %} {{ note.description }} {% endblock %}
{% load static %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>

    //Hocanın template'ten galeri için aldığım yerin css'leri
    <link type="text/css" rel="stylesheet" href="{% static 'second/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'second/css/slick.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'second/css/slick-theme.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'second/css/nouislider.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'second/css/style.css' %}">
    //burada bitiyor

    <link rel="stylesheet" type="text/css"  href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/course.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/course_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses_responsive.css' %}">

{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Anasayfa</a></li>
                                <li><a href="/category/{{ note.category_id }}/{{ note.category.slug }}">{{ note.category }}</a></li>
                                <li>{{ note.title }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Course -->

	<div class="course">
		<div class="container">
			<div class="row">

                <!-- Course -->
				<div class="col-lg-8">

					<div class="course_container">
						<div class="course_title">{{ note.title }}</div>
						<div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-center">

							<!-- Course Info Item -->
							<div class="course_info_item">
								<div class="course_info_title">Owner:</div>
								<div class="course_info_text">{{ note.user.first_name }} {{ note.user.last_name }}</div>
							</div>

							<!-- Course Info Item -->
							<div class="course_info_item">
								<div class="course_info_title">Category:</div>
								<div class="course_info_text"><a href="/category/{{ note.category_id }}/{{ note.category.slug }}">{{ note.category }}</a></div>
							</div>

						</div>
						<div id="product-main-view">
							<div class="product-view">
								<img src="{{ note.image.url }}" alt="">
							</div>

                            {% for rs in images %}
                            <div class="product-view">
                                    <img src="{{ rs.image.url }}" alt="">
                            </div>
                            {% endfor %}
                        </div>

                        <div id="product-view">
							<div class="product-view">
								<img src="{{ note.image.url }}" alt="">
							</div>
                            {% for rs in images %}
                            <div class="product-view">
                                    <img src="{{ rs.image.url }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
						<!-- Course Tabs -->
						<div class="course_tabs_container">
							<div class="tabs d-flex flex-row align-items-center justify-content-start">
								<div class="tab active">detail</div>
								<div class="tab">reviews</div>
							</div>
							<div class="tab_panels">

								<!-- Description -->
								<div class="tab_panel active">
									<div class="tab_panel_title">{{ note.title }}</div>
									<div class="tab_panel_content">
										<div class="tab_panel_text">
                                            <p>{{ note.detail | safe }}</p>
										</div>
                                    </div>
								</div>

								<!-- Reviews -->
								<div class="tab_panel tab_panel_3">
									<div class="tab_panel_title">Course Review</div>

									<!-- Comments -->
									<div class="comments_container" style="margin-top: -5px">
										<ul class="comments_list">
                                            {% for rs in comments %}
                                                <li>
                                                    <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                                                        <div class="comment_image"><div><img src="{{ rs.user.userprofile.image.url }}" alt=""></div></div>
                                                        <div class="comment_content">
                                                            <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                                <div class="comment_author"><a href="#">{{ rs.user.first_name }}</a></div>
                                                                <div class="comment_rating">
                                                                    <div class="rating_r rating_r_{{ rs.rate }}">
                                                                        <i></i>
                                                                        <i></i>
                                                                        <i></i>
                                                                        <i></i>
                                                                        <i></i>
                                                                    </div>
                                                                </div>
                                                                <div class="comment_time ml-auto">{{ rs.created_at.date }}</div>
                                                            </div>
                                                            <div class="comments_title" style="margin-top: 5px">
                                                                <h5>{{ rs.subject }}</h5>
                                                            </div>
                                                            <div class="comment_text">
                                                                <p>{{ rs.comment }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
										</ul>
										<div class="add_comment_container">
                                        {% if user.id is None %}
											<div class="add_comment_title">Add a review</div>
											<div class="add_comment_text">You must be <a href="/login">logged</a> in to post a comment.</div>
                                        {% else %}
                                            <div class="add_comment_title" style="padding-bottom: 15px">Review Form</div>
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                            <form class="review-form" action="/note/addcomment/{{ note.id }}" method="POST">
                                                {% csrf_token %}
                                                <div>
                                                    <div class="form_title">Subject</div>
                                                    <div class="form-group">
                                                        <input type="text" class="comment_input" name="subject" id="id_subject" required="required">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="form_title">Comment</div>
                                                    <div class="form-group">
                                                        <textarea class="comment_input comment_textarea" name="comment" id="id_comment" required="required"></textarea>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="form_title">Your Rating:</div>
                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <div class="stars">
                                                                <input type="radio" id="star5" name="rate" value="5" required="required"/><label for="star5"></label>
                                                                <input type="radio" id="star4" name="rate" value="4" required="required"/><label for="star4"></label>
                                                                <input type="radio" id="star3" name="rate" value="3" required="required"/><label for="star3"></label>
                                                                <input type="radio" id="star2" name="rate" value="2" required="required"/><label for="star2"></label>
                                                                <input type="radio" id="star1" name="rate" value="1" required="required"/><label for="star1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class="comment_button trans_200" value="Send Comment">Send Comment</button>
                                                </div>
                                            </form>
                                            {% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Course Sidebar -->
				<div class="col-lg-4">
					<div class="sidebar">

                        <!-- Categories -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Categories</div>
							<div class="sidebar_categories">
                                {% load mptt_tags %}
                                <ul>
                                    {% recursetree category %}
                                        <li>
                                            <a href="/category/{{ node.id }}/{{ node.slug }}"><b>{{ node.title }}</b></a>
                                        </li>
                                        {% if not node.is_leaf_node  %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul>
							</div>
						</div>

						<!-- Latest Course -->
						<div class="sidebar_section">
							<div class="sidebar_section_title">Latest Courses</div>
							<div class="sidebar_latest">
                                {% for rs in lastnotes %}
								<!-- Latest Course -->
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div class="latest_image">
                                        <div><img src="{{ rs.image.url }}" width="90px" height="74px" alt=""></div>
                                    </div>
									<div class="latest_content">
										<div class="latest_title"><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></div>
									</div>
								</div>
                                {% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
    //Hocanın template'ten galeri için aldığım yerin script'leri
	<script src="{% static 'second/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'second/js/slick.min.js' %}"></script>
	<script src="{% static 'second/js/nouislider.min.js' %}"></script>
	<script src="{% static 'second/js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'second/js/main.js' %}"></script>
    //burada bitiyor

    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'js/course.js' %}"></script>
{% endblock %}