{% extends "homebase.html" %}

{% block title %} Referanslar - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% load static %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about_responsive.css' %}">
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Anasayfa</a></li>
								<li>Referanslar</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

    <div class="about">
		<div class="container">
            <div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h1 class="section_title">REFERANSLARIMIZ</h1>
					</div>
				</div>
			</div>
			<div class="row about_row">
				<!-- About Item -->
				<div class="col-lg about_col">
					<div class="about_item">

                        {{ setting.references | safe }}

                    </div>
				</div>
			</div>
		</div>
	</div>

    <!-- Newsletter -->

	<div class="newsletter">
		<div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/newsletter.jpg'%}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

						<!-- Newsletter Content -->
						<div class="newsletter_content text-lg-left text-center">
							<div class="newsletter_title">sign up for news and offers</div>
							<div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
						</div>

						<!-- Newsletter Form -->
						<div class="newsletter_form_container ml-lg-auto">
							<form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
								<input type="email" class="newsletter_input" placeholder="Your Email" required="required">
								<button type="submit" class="newsletter_button">subscribe</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}