{% extends "homebase.html" %}

{% block title %} Referanslar - {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% load static %}
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about_responsive.css' %}">
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Anasayfa</a></li>
								<li>Referanslar</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

    <div class="about">
		<div class="container">
            <div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h1 class="section_title">REFERANSLARIMIZ</h1>
					</div>
				</div>
			</div>
			<div class="row about_row">
				<!-- About Item -->
				<div class="col-lg about_col">
					<div class="about_item">

                        {{ setting.references | safe }}

                    </div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}