{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Notes{% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% load static %}
<script>
    $(function(){
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui){ //item selected
                AutoCompleteSelectHandler(event, ui)
            },
        minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui){
        var selectedObj = ui.item;
    }
</script>
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href='{{ setting.icon.url }}'/>
    <link rel="stylesheet" type="text/css"  href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses_responsive.css' %}">
{% endblock %}

{% block body %}

	<!-- Home -->

	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Anasayfa</a></li>
								<li>User Notes</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Courses -->

	<div class="courses">
		<div class="container">
			<div class="row">
				<!-- Courses Main Content -->
				<div class="col-lg-9">
					<div class="courses_container">
						<div class="row courses_row">
                            <h2 class="form_title" style="margin-top: -30px">User Notes</h2><br><br>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message | safe }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <table class="table">
                                <tr>
                                    <th class="text-left">
                                        <button class="courses_search_button ml-auto">
                                            <a href="/user/addnote" style="color: white">Add Note</a>
                                        </button>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-left" style="color: #1e2434">Image</th>
                                    <th class="text-left" style="color: #1e2434">Note</th>
                                    <th class="text-left" style="color: #1e2434">Gallery</th>
                                    <th class="text-left" style="color: #1e2434">Status</th>
                                    <th class="text-left" style="color: #1e2434">Date</th>
                                </tr>
                                {% for rs in usernotes %}
                                <tr>
                                    <td class="text-left"><img src="{{ rs.image.url }}" style="height: 60px; width: 50px"/></td>
                                    <td class="text-left" style="color: #1e2434">
                                        <strong><a href="/note/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></strong>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:;" onclick="window.open('/user/imageaddnote/{{ rs.id }}', 'gallery', 'height=600, width=800, top=50, left=150')">
                                            <img src="{% static 'images/gallery-icon.png' %}" height="40px">
                                        </a>
                                    </td>
                                    <td class="text-left" style="color: #1e2434">{{ rs.status }}</td>
                                    <td class="text-left" style="color: #1e2434">{{ rs.created_at.date }}</td>
                                    <td class="text-left" style="color: #1e2434">
                                        <a class="primary-btn" href="/user/editnote/{{ rs.id }}">
                                            Edit
                                        </a>
                                    </td>
                                    <td class="text-left" style="color: #1e2434">
                                        <a class="primary-btn" onclick="return confirm('The comment will be deleted! Are you sure?')"
                                           href="/user/deletenote/{{ rs.id }}">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
						</div>
					</div>
				</div>

				<!-- Courses Sidebar -->
				<div class="col-lg-3">
					<div class="sidebar">

                        {% include "user_panel.html" %}

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block js %}
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
    <script src="{% static 'js/courses.js' %}"></script>
{% endblock %}